openapi: 3.0.0
info:
  title: Technical Writer Tasks API
  description: 'This API allows managing technical writer tasks. To get started, visit the [Technical Writer Tasks API documentation](01-introduction.md).'
  version: 1.0.0
servers:
  - url: https://api.techwriter.xyz
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    Task:
      type: object
      properties:
        task_id:
          type: string
          description: The task ID
          example: 2
        title:
          type: string
          description: The task title
          example: API Quick Start
        description:
          type: string
          description: The task description
          example: Create a quick start guide for the Technical Writer Tasks API.
        status:
          $ref: '#/components/schemas/StatusEnum'
        component:
          $ref: '#/components/schemas/ComponentEnum'
        connected_tasks:
          type: array
          description: An array of connected tasks
          items:
            $ref: '#/components/schemas/ConnectedTask'
    TaskInput:
      type: object
      required: [ title, component ]
      properties:
        title:
          type: string
          description: The task title
          example: Update the API Spec
        description:
          type: string
          description: The task description
          example: Identify gaps in the Technical Writer Tasks API Specification and update it.
        component:
          $ref: '#/components/schemas/ComponentEnum'
        connected_tasks:
          type: array
          description: An array of connected tasks
          items:
            type: string
            description: The connected task ID. To retrieve the ID of the task you wish to connect, use GET /tasks.
            example: 1
    ConnectedTask:
      type: object
      properties:
        task_id:
          type: string
          description: The connected task ID
          example: 1
        title:
          type: string
          description: The connected task title
          example: Update the API Spec
        description:
          type: string
          description: The connected task description
          example: Identify gaps in the Technical Writer Tasks API Specification and update it.
        status:
          $ref: '#/components/schemas/StatusEnum'
    StatusEnum:
      type: string
      description: The status of the task
      enum: [OPEN, IN_PROGRESS, COMPLETED]
    ComponentEnum:
      type: string
      description: The documentation type to update
      enum: [API_DOCS, HELP_CENTER, SDK_DOCS, OAS_FILE]
    ErrorResponse:
      required:
          - message
      properties:
          message:
              type: string
              example: Unauthorized, API key missing or invalid.
          code:
              type: string
              example: 401
security:
  - ApiKeyAuth: []
paths:
  /tasks:
    get:
      summary: List tasks
      description: This endpoint returns details of all technical writer tasks.
      operationId: getTasks
      parameters:
        - name: status
          in: query
          description: Filter tasks by status.
          required: false
          schema:
            $ref: '#/components/schemas/StatusEnum'
        - name: component
          in: query
          description: Filter tasks by component.
          required: false
          schema:
            $ref: '#/components/schemas/ComponentEnum'
        - name: updatedAfter
          in: query
          description: Filter tasks that have been updated after a specific date (YYYY-MM-DD).
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: An array of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '401':
          description: Unauthorized, API key missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /task:
    post:
      summary: Add a new task
      description: 'This endpoint adds a new technical writer task. In the request body, specify the title and component (other parameters are optional). The task ID will be assigned automatically and returned in the response.'
      operationId: addTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '200':
          description: The new task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          description: Unauthorized, API key missing or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
